body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    background-color: #eee8d5;
    max-width: 1200px;
    margin: 0px auto;
    padding: 5px;
    color: #073642;
    --keyword-color: #93a1a1;
    --name-color: LightGreen;
    --type-color: LightBlue;
    --no-value-color: Gray;
    --panel-background: #002b36;
}

h1, p{
    padding: 0px 10px;
}

#content {
    width: 100%;
    padding: 0px;
    height: 750px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-gap: 1.5rem;
}

.panel {
    padding: 1rem;
    box-sizing: border-box;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    background: var(--panel-background);
    /* color: #93a1a1; */
    /* color: #cacaca; */
    color: #efefef;
    font-size: 14px;
    overflow: auto;
}

#mlscript-input {
    resize: none;
    outline: none;
}

#mlscript-output {
    width: 130%;
}

#mlscript-output > table {
    border-collapse: collapse;
}

#mlscript-output > table > thead {
    font-weight: bold;
}

#mlscript-output td {
    padding: 0.25rem 0.5rem;
    border: 1px solid white;
}

#mlscript-output td.name {
    color: var(--name-color);
}

#mlscript-output td.type {
    color: var(--type-color);
}

#mlscript-output td.no-value {
    color: var(--no-value-color);
}
